TEMPLE_API_HOST=127.0.0.1
TEMPLE_API_PORT=8787
TEMPLE_API_MAX_LIMIT=500
TEMPLE_API_DATA_SOURCE=database
TEMPLE_API_AUTH=true
TEMPLE_API_KEY=replace-with-strong-api-key
TEMPLE_API_KEY_HEADER=x-api-key
TEMPLE_API_LOG_LEVEL=info
TEMPLE_API_LOG_REQUESTS=true

TEMPLE_DB_HOST=127.0.0.1
TEMPLE_DB_PORT=3306
TEMPLE_DB_USER=root
TEMPLE_DB_PASSWORD=
TEMPLE_DB_NAME=jbn_temples
TEMPLE_DB_CONNECTION_LIMIT=5
